<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="color:red">{{error}}</div>
    <form action="/login" method="POST">
        <input type="text" name="bankName" ><br>
        <input type="text" name="userId" ><br>
        <input type="password" name="pin" ><br>
        <button type="submit">submit</button>
    </form>
    
</body>
</html>