<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>withdrawal</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="./withdrawal.js"></script>
    <style>
        .login-card {
            background-color: skyblue;
            padding: 30px;
            border-radius: 30px;
        }
        .note{
            width: 60px ;
        }
        
    </style>
</head>

<body>
    
    <div class="container">

        <div class="row">
            <div class="col-12 my-4"></div>
            <div class="col"></div>
            <div class="col-5 login-card">

                <h1 class="text-center mt-4">Withdrawal</h1>
                <hr>
                <div style="color:{{color}}" class="text-center">{{error}}</div>
                
                <form action="/withdrawPost" method="POST" class="my-4">
                <div id="denomination">
                    {{!-- notes will come from jquery --}}
                    
                </div>
                    <div class="mb-3">
                        <label for="notRequiredg" class="form-label">Total Cash</label>
                        <input type="number" class="form-control" id="notRequired" required  name="amount">
                    </div>
                    
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="receipt" name="receipt">
                        <label class="form-check-label" for="exampleCheck1">Receipt</label>
                    </div>

                    <div class="text-center"><button type="submit" class="btn btn-primary text">Withdraw</button></div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>


</body>

</html>