<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="color:{{color}}">{{error}}</div>
    <form action="/withdraw" method="POST">
        <input type="number" name="amount" id=""><br>
        <input type="checkbox" name="receipt" id="receipt">
        <label for="receipt">receipt</label>
        <button type="submit">withdraw</button>
    </form>
</body>
</html>