.menu-card {
  background-color: skyblue;
  padding: 30px;
  border-radius: 30px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.btn {
  height: 80px;
  width: 160px;
  border-radius: 10px;
  display: table-cell;
  vertical-align: middle;
  font-size: larger;
}
hr {
  border: 2px solid black;
  border-radius: 5px;
}
